<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="zh-cn">
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0"
   href="http://zh.wikipedia.org/w/index.php?title=Wikipedia:%E9%A6%96%E9%A1%B5/rss&action=raw&ctype=application/rss+xml">
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/style-loader.js"></script>
  <script src="/javascripts/magazine.js"></script>
  <title>维基日刊（<%= month %>月<%= day %>日）</title>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= ga %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>

<h2 style="text-align:center;color:white;margin-top:5px;">维基日刊（<%= month %>月<%= day %>日）</h2>

<div id="hposition">
<div id="vposition">

<div id="leftbar">
    <div id="go_cal" class="clickable">回日历</div>
    <div id="go_prev" class="clickable">上一页</div>
    <div id="go_toc_left" class="clickable">目　录</div>
</div>

<div id="doublepage">
    <div id="leftpage">
      <div id="leftview">
        <div id="leftcontent" class="content"></div>
      </div>
    </div>
    <div id="rightpage">
      <div id="rightview">
        <div id="rightcontent" class="content"></div>
      </div>
    </div>
</div>

<div id="rightbar">
    <div id="go_cal" class="clickable">回日历</div>
    <div id="go_next" class="clickable">下一页</div>
    <div id="go_toc_right" class="clickable">目　录</div>
</div>

</div>
</div>

<div id="contents"></div>
<script>
$(function () {
    daily.load('<%= year %>/<%= month %>/<%= day %>');
});
</script>
</body>
</html>
